@wechat: rgb(76, 190, 40);
.chat-input {
  display: flex;
  height: 46px;
  border-top: solid 1px #ccc;
  background: #fff;
  flex-direction: row;
  padding: 5px 4px;
  color: #aaa;
  .icon {
    flex: 0 0 auto;
    margin: 0 4px;
  }
  .button {
    margin: 4px;
  }
  .input { 
    flex: 1 1 auto;
    border: none;
    height: 28px;
    line-height: 27px;
    border-bottom: solid 1px #ddd;
    margin: 4px 4px;
    font-size: 13px;
  }
}

.item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px;
}

.content {
  background: #fff;
  line-height: 24px;
  padding: 8px;
  border-radius: 6px;
}

.arrow {
  box-sizing: border-box;
  margin-top: 15px;
  width: 8px;
  height: 10px;
  border-bottom: solid 5px transparent;
  border-top: solid 5px transparent;
}

.thumb {
  width: 40px;
}

.item-left {
  justify-content: flex-start;
  .arrow {
    border-right: solid 8px #fff;
    margin-left: 5px;
  }
  .content {
    background: #fff;
    margin-left: -1px;
  }
}

.item-right {
  justify-content: flex-end;
  .arrow {
    border-left: solid 8px @wechat;
    margin-right: 10px;
  }
  .content {
    background: @wechat;
    margin-right: -1px;
  }
}

.thumb {
  flex: 0 0 auto;
  width: 40px;
  height: 40px;
}