html, body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.header {
  flex: 45px 0;
}

.body {
  flex: 45px 1;
}

.body-pane {
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
}